In [67]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_csv('processed_data.csv')
vals = df.values

In [89]:
#df.drop('Unnamed: 0', axis=1, inplace=True)

In [90]:
df.head()

,Unnamed: 0,raw_ref,Authors,Year,Title
0,0,Arun K Punjari “Data mining techniques” univer...,[' Arun K Punjari'],2001.0,Punjari “Data mining techniques” universities...
1,2,"L. Davis, Handbook of genetic algorithms, Van ...","[' L. Davis', ' Van Nostrand Reinhold']",1991.0,"Handbook of genetic algorithms, Van Nostrand ..."
2,3,"Y. Hiemstra, “Modeling structured nonlinear kn...","[' Y. Hiemstra', ' Trippi', ' R. R', ' Irwin']",1995.0,“Modeling structured nonlinear knowledge to p...
3,4,"K. Kohara, Ishikawa T., Fukuhara Y. and Nakamu...","[' K. Kohara', ' Ishikawa', ' Fukuhara Y.', ' ...",1997.0,price prediction using prior knowledge and ne...
4,5,"K. Kamijo and Tanigawa T., “Stock price patter...","[' K. Kamijo', ' Tanigawa']",1221.0,price pattern recognition: A recurrent neural...

In [91]:
#vals = df['Title'].values

In [92]:
str(vals[k]), len(vals[k]), type(vals[k])

('[1337\n \'[1946] The Tenth International Workshop on Learning Classifier Systems (IWLCS 2007), Lecture Notes in Computer Science (LNCS) subseries Lecture Notes in Artiﬁcial Intelligence series (LNAI), July 8, 2007, University College London, in London, England. Springer. Held in association with GECCO-2007 (see also [2037, 2038]).\'\n "[\' Springer\']" 2038.0 \' The\']',
 5,
 numpy.ndarray)

In [93]:
searchfor = ['stock', 'trading', 'financial', 'finance', 'market']
#found_df = df[df['Title'].str.contains('|'.join(searchfor))]

In [94]:
k, vals[k]

(1182,
 array([1337,
        '[1946] The Tenth International Workshop on Learning Classifier Systems (IWLCS 2007), Lecture Notes in Computer Science (LNCS) subseries Lecture Notes in Artiﬁcial Intelligence series (LNAI), July 8, 2007, University College London, in London, England. Springer. Held in association with GECCO-2007 (see also [2037, 2038]).',
        "[' Springer']", 2038.0, ' The'], dtype=object))

In [95]:
cnt = 0

finrl_vals = []
for k in range(len(vals)): 
    
    if isinstance(vals[k][4], float):
#    if k == 36934 or k == 36967:
        continue
            
    if any(x in vals[k][4] for x in searchfor):
 #   if type([vals[k]]) != str:
 #       print('Wrong', k, cnt)
#    if vals[k].str.contains('|'.join(searchfor)) == True:
        finrl_vals.append(vals[k])
        cnt +=1

In [96]:
cnt

4311

In [97]:
df.head()

,Unnamed: 0,raw_ref,Authors,Year,Title
0,0,Arun K Punjari “Data mining techniques” univer...,[' Arun K Punjari'],2001.0,Punjari “Data mining techniques” universities...
1,2,"L. Davis, Handbook of genetic algorithms, Van ...","[' L. Davis', ' Van Nostrand Reinhold']",1991.0,"Handbook of genetic algorithms, Van Nostrand ..."
2,3,"Y. Hiemstra, “Modeling structured nonlinear kn...","[' Y. Hiemstra', ' Trippi', ' R. R', ' Irwin']",1995.0,“Modeling structured nonlinear knowledge to p...
3,4,"K. Kohara, Ishikawa T., Fukuhara Y. and Nakamu...","[' K. Kohara', ' Ishikawa', ' Fukuhara Y.', ' ...",1997.0,price prediction using prior knowledge and ne...
4,5,"K. Kamijo and Tanigawa T., “Stock price patter...","[' K. Kamijo', ' Tanigawa']",1221.0,price pattern recognition: A recurrent neural...

In [105]:
finrl_df = pd.DataFrame(finrl_vals, columns =['unnamed', 'raw_ref', 'authors', 'year', 'title'])

In [106]:
finrl_df.drop('unnamed', axis=1, inplace=True)

In [107]:
finrl_df.shape

(4311, 4)

In [109]:
finrl_df.to_csv('all_finrl_ref.csv', index=False)